* {
    padding: 0em;
    margin: 0em;
}

:root {
    --bgcolor: #0365AE;
    --breadcolor: #163F77;
    --txtcolor: #FFF;
    --newscolor: #F3C42B;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #FFF;
    --linkcolor: #FFF;
    --visitedcolor: #F3C42B;
    --bordercolor: #000;
}

html,
body {
    font-size: 100%;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    margin: auto;
}

html {
    background-image: url(./images/bg.png);
    background-size: contain;
}

body {
    max-width: 1024px;
    margin: auto;
    background-color: var(--bgcolor);
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
}

/*
======================================
                HEADER
======================================
*/

header {
    color: white;
    text-align: center;
    padding: 1em;
    padding-top: 0.7em;
}

header img {
    max-width: 40%;
}

header h1 {
    display: none;
}

header h2 {
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 0.7em;
}

/*
======================================
                MENU
======================================
*/

#breadcrumb {
    background-color: #163F77;
    color: var(--txtcolor);
    padding: 0.5em 1em 0.5em;
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-left: 0em;
    border-right: 0em;
}

#breadcrumb a:link {
    color: var(--linkcolor);
}

#breadcrumb a:visited {
    color: var(--visitedcolor);
}

#menu {
    float: left;
    width: 25%;
    font-size: 1.3em;
    padding: 0.8em;
}

#menu a:link {
    color: var(--linkcolor);
}

#menu a:visited {
    color: var(--visitedcolor);
}

#menu ul {
    list-style-type: none;
}

#currentlink {
    color: var(--txtcolor);
    padding-left: 1.5em;
    background-image: url(./images/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position-y: center;
}

/*
======================================
                CORPO
======================================
*/

aside {
    float: right;
    max-width: 30%;
    background-color: var(--bgcolor);
    margin: 0.5em;
}

aside h2 {
    background-color: var(--newscolor);
    margin: 0.3em;
    margin-bottom: 0em;
}

aside dl {
    color: var(--txtcolor);
}

aside dl dt {
    padding-left: 1em;
    font-weight: bold;
}

aside dl dd {
    padding-left: 1.5em;
    padding-right: 0.2em;
}

main {
    background-color: var(--contentbgcolor);
    margin-left: 25%;
    padding: 2em;

    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-top: 0em;
    border-bottom: 0em;
    border-right: 0em;
}

main h1 {
    line-height: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

main>dl {
    margin-left: 1em;
}

main>dl>dt {
    padding-left: 1em;
    background-image: url(./images/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: center;
}

main>dl>dd {
    padding-left: 1em;
}

main>ul {
    margin-left: 2em;
}

main>img {
    float: left;
    max-width: 40%;
    shape-outside: margin-box;
    border-radius: 0 20% 20% 0 /40%;
    margin: 0em 2em 1em 0em;
}


/*
======================================
                FOOTER
======================================
*/

footer {
    color: var(--txtcolor);
    background-color: var(--breadcolor);
    text-align: center;
    font-style: italic;

    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-bottom: 0em;
    border-right: 0em;
    border-left: 0em;
}